
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import 'variables.scss';

@import 'mixin/media.scss';

@import 'grid/grid.scss';

@import 'common/common.scss';

@import 'pages/header.scss';

@import 'pages/promo.scss';

body{
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
}
