header.q-header
    .container
        .row.align-items-center.q-header--padding
        
            a.col-md-1.q-header__logo-wrapper(href="javascript:void(0)")
                img.q-header__logo(src="img/header/logo.png" alt="logo")
            nav.col-md-7.q-header-nav
                ul.q-header-nav__list
                    li.q-header-nav__item 
                        a.q-header-nav__link(href="javascript:void(0)") Преимущества
                    li.q-header-nav__item 
                        a.q-header-nav__link(href="javascript:void(0)") Наша работа
                    li.q-header-nav__item 
                        a.q-header-nav__link(href="javascript:void(0)") Цены
                    li.q-header-nav__item 
                        a.q-header-nav__link(href="javascript:void(0)") Схема работы
                    li.q-header-nav__item 
                        a.q-header-nav__link(href="javascript:void(0)") Отзывы
                    li.q-header-nav__item 
                        a.q-header-nav__link(href="javascript:void(0)") Контакты
            
            .col-md-2.q-header-contact
                | Есть вопросы?
                a.q-header-contact__link(href="tel:+79264230100") +7(926) 423 01 00
            
            .col-md-2.q-header-call
                a.q-header-call__btn(href="javascript:void(0)") Перезвоните мне
