header.q-header
    .q-header-top
        .container
            .row.align-items-center.q-header-top--padding
                a.col-md-1.q-header-top__logo-wrapper(href="javascript:void(0)")
                    img.q-header-top__logo(src="img/header/logo.png" alt="logo")
                ul.col-md-7.q-header-top-menu
                    li.q-header-top-menu__item 
                        a.q-header-top-menu__link(href="javascript:void(0)") Преимущества
                    li.q-header-top-menu__item 
                        a.q-header-top-menu__link(href="javascript:void(0)") Наша работа
                    li.q-header-top-menu__item 
                        a.q-header-top-menu__link(href="javascript:void(0)") Цены
                    li.q-header-top-menu__item 
                        a.q-header-top-menu__link(href="javascript:void(0)") Схема работы
                    li.q-header-top-menu__item 
                        a.q-header-top-menu__link(href="javascript:void(0)") Отзывы
                    li.q-header-top-menu__item 
                        a.q-header-top-menu__link(href="javascript:void(0)") Контакты
                .q-header-top-contact
                    | Есть вопросы?
                    a.q-header-top-contact__link(href="tel:+79264230100") +7(926) 423 01 00
                .q-header-top-call
                    a.q-header-top-call__btn(href="javascript:void(0)") Перезвоните мне
