section.q-promo
    .container
        span.q-promo__slogan Global Opt - логистика полного цикла из Китая в Россию
        .q-promo__title Доставка грузов из Китая
        .q-promo__subtitle В Россию и СНГ всеми видами транспорта
        .q-promo__divider-container
            .q-promo__divider
        .row
            .col-md-3.q-promo__item
                p Перевозка негабаритных и крупнотоннажных грузов
            .col-md-3.q-promo__item
                p Самостоятельно декларируем и проводим таможенную очистку с оптимизацией кодов и ставок
            .col-md-3.q-promo__item
                p Осуществляем прямые поставки с заводов от двери до двери
            .col-md-3.q-promo__item
                p Экспресс доставка 1-2 дня из Гуанчжоу в Москву от 25$/кг  
